
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Times New Roman', serif;
        }

        body {
            background: #F8F3E8;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            width: 850px;
            background: #FFFDF7;
            display: flex;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 0 10px 30px #bbb;
        }

        /* LEFT SIDE */

        .left {
            width: 50%;
            background: #123C2A;
            color: white;
            text-align: center;
            padding: 70px 30px;
        }

        .logo {
            width: 80px;
            height: 80px;
            background: #C6A15B;
            color: #123C2A;
            border-radius: 50%;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 35px;
        }

        .left h1 {
            font-size: 38px;
            margin: 20px 0 10px;
        }

        .left h1 span {
            color: #E9DDBF;
        }

        .left p {
            color: #E9DDBF;
            line-height: 1.6;
            font-size: 16px;
        }

        .admin {
            display: inline-block;
            margin-top: 25px;
            padding: 8px 20px;
            border: 1px solid #C6A15B;
            border-radius: 20px;
        }

        /* RIGHT SIDE */

        .right {
            width: 50%;
            padding: 60px 50px;
        }

        .right h2 {
            color: #0B2419;
            font-size: 30px;
            margin-bottom: 10px;
        }

        .subtitle {
            color: #66756C;
            margin-bottom: 25px;
        }

        label {
            display: block;
            color: #33483B;
            margin-bottom: 7px;
        }

        .input {
            position: relative;
            margin-bottom: 20px;
        }

        .input i {
            position: absolute;
            left: 15px;
            top: 14px;
            color: #123C2A;
        }

        input {
            width: 100%;
            padding: 13px 45px;
            border: 1px solid #D8CFBC;
            border-radius: 8px;
            outline: none;
        }

        input:focus {
            border-color: #C6A15B;
        }

        button {
            width: 100%;
            padding: 13px;
            background: #123C2A;
            color: white;
            border: none;
            border-radius: 8px;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover {
            background: #0B2419;
        }

        .secure {
            text-align: center;
            color: #66756C;
            font-size: 13px;
            margin-top: 20px;
        }

        /* MOBILE */

        @media(max-width: 700px) {

            .container {
                width: 90%;
                display: block;
            }

            .left,
            .right {
                width: 100%;
            }

            .left {
                padding: 40px 20px;
            }

            .right {
                padding: 40px 30px;
            }

        }
.back-home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;

    margin-top: 20px;

    color: #123C2A;
    text-decoration: none;

    font-size: 14px;
    font-weight: bold;

    transition: 0.3s ease;
}

.back-home:hover {
    color: #C6A15B;
}

.back-home i {
    font-size: 13px;
}